html {
    background-color: rgb(128, 128, 128);
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div {
    background-color: rgb(200, 200, 200);
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid rgb(0, 0, 0);
}
header img {
    width: 100%;
    height: auto;
}
header { 
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.navi {
    color: rgb(255, 255, 255);
    font-variant: small-caps;
}
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}
span {
    color: rgb(0, 128, 0);
    font-weight: bold;
}
li {
    text-align: justify;
    padding-right: 20px;
}
p {
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
@media (max-width: 600px) {
    img {
        width: 25%;
        height: auto;
        }
    body {
        font-size: 12px;
        }
}