body {
    background-image: url(adts.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: center 80%;
}
h1 {
    text-align: center;
    color: yellowgreen;
    font-size: 50px;
    font-family: impact;
    text-shadow: 2px 2px 3px black;
    margin-bottom: 150px;
}
.cím {
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 3px black;
}
p {
    color: aliceblue;
    font-size: 25px;
    text-shadow: 2px 2px 3px black;
    margin-top: 50px;
}
strong {
    color: yellowgreen;
    font-size: 30px;
    font-family: impact;
}
em {
    color: red;
    font-size: 30px;
    font-family: Impact;
    text-shadow: 2px 2px 3px black;
}
.doboz {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 60px;
    margin-top: 30px;
    box-shadow: 2px 2px 3px black;
}
.dobozkép {
    width: 80%;
    max-width: 500px;
    border-radius: 100px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 3px black;
}
h2 {
    color: red;
    font-size: 30px;
    font-family: impact;
    text-shadow: 2px 2px 3px black;
    margin-bottom: 10px;
}
a {
    color: blue;
    font-size: 30px;
    font-family: impact;
    text-shadow: 2px 2px 3px black;
}
.style {
    color: yellowgreen;
}
.box1 {
    max-width: 900px;
    background-color: rgba(154, 205, 50, 0.3);
    text-align: center;
    border-radius: 60px;
    margin-left: 0;
    margin-right: auto;
    box-shadow: 2px 2px 3px black;
}
.box2 {
    max-width: 1000px;
    background-color: rgba(154, 205, 50, 0.3);
    text-align: center;
    border-radius: 60px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 3px black;
}
.gomb {
    background-color: rgba(154, 205, 50, 0.3);
    border-radius: 10px;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    box-shadow: 2px 2px 3px black;
    font-variant: small-caps;
    font-size: 15px;
    padding: 3px;
    float: left;
}